/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styles for the container class */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 200px;
  padding: 40px;
  border: 3px solid #1c1c1c;
}

/* Styles for Pokemon names */
.pokemon-name {
  text-align: center;
  border: 1px solid #1c1c1c;
  padding: 8px;
}

/* Styles for h3 elements */
h3 {
  border: 1px solid #1c1c1c;
  padding: 10px;
}

/* Styles for the Pokemon list */
.pokemon-list {
  display: flex;
  overflow: auto;
  margin-top: 20px;
}

/* Styles for Pokemon list items */
.pokemon-item {
  text-align: center;
  cursor: pointer;
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
}

/* Styles for Pokemon images */
.pokemon-image {
  max-width: 120px;
  max-height: auto;
}

/* Styles for Pokemon details */
.pokemonDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: space-between;
  justify-content: space-between;
}

/* Styles for detail elements */
.detail {
  padding: 5px;
  border: 1px solid #1c1c1c;
  line-height: 30pt;
  width: 100%;
  text-align: left;
}

/* Styles for abilities text */
.abilities-text {
  color: cadetblue;
}
